.dashboard-title {
    color: white;
    background-color: #1e2028;
    padding: 20px;
    width: -moz-fit-content;
    font-family: system-ui;
    width: fit-content;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 30px;
}