.location-item-container {
    color: white;
    background-color: #1e2028;
    padding: 20px;
    font-family: system-ui;
    position: relative;
    border-radius: 10px;
    font-size: 30px;
    height: 80px;
    font-size: 25px;
}

.location-name {
    color: white;
    float: left;
}

.location-temperature {
    float: right;
}