.location-infos-header {
    color: white;
    font-size: 30px;
    font-family: system-ui;
}

.back-button {
    display: inline-block;
    color: white;
    width: 50px;
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.back-button:hover {
    transform: scale(1.2);
}

.flex-container {
    display: flex;
    padding: 20px;
    align-items: center;
}
