.location-infos-header {
    font-size: 30px;
    font-family: system-ui;
    color: white;
    background-color: #1e2028;
    border-radius: 10px;
    font-size: 30px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    width: fit-content;
    padding: 20px;
}

.back-button {
    display: inline-block;
    color: white;
    width: 50px;
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.back-button:hover {
    transform: scale(1.2);
}

.flex-container {
    display: flex;
    padding: 20px;
    align-items: center;
    margin-top: 5%;
}

@media screen and (max-width: 861px) {
    .flex-container {
        display: grid;
    } 
}

